
:root {
  font-size: 10px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  outline: none;
  }

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}


img {
  display: block;
}


.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* gina-css-start */
.big-icon{
  font-size: 3rem;
  background: none;
  border:none;
  padding:none;
  cursor: pointer;
  outline: 0;
 }
.nav-bottom {
  background-color: #eee;
  border-top: solid 1px rgb(219, 219, 219);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.nav-ul-bottom{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.nav-li-bottom{
  display: inline;
  margin: 32px;
  float: none;
}

.photo{
  width: 300px;
  height: 400px;
}

.remove {
  float: right;
}
/* gina-css-end */

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.commentInput {
  height: 100px
}

.profile {
  padding: 5rem 0;
}


.profile::after {
  content: "";
  display: block;
  clear: both;
}


.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}


.profile-image img {
  border-radius: 50%;
}


.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}


.profile-user-settings {
  margin-top: 1.1rem;
}


.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}


.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}


.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
  padding-top: 3rem;
}


.profile-stats {
  margin-top: 2.3rem;
}


.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
}


.profile-stats li:last-of-type {
  margin-right: 0;
}


.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}


.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}


.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
}


.heartcomment {
  background-color: white;
  height: 70px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
}

/* gina made changes*/
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* object-fit: cover; */
}

/* Jules-css-starts */
input[type="text"] {
    width: 90%;
    height: 60px;
    padding-left: 10px;
    padding-right: 50px;
    border: none;
}

input[type="submit"] {
    margin-left: -3.5px;
    height: 60px;
    width: 10%;
    color: white;
    border: none;
    background-color: white;
}
.allComments {
  font-size: 1.8rem;
  color: black;
  background-color: white;
}

.DBComments {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Jules-css-ends */

/*vlee-css-starts*/
i {
  color: rgb(122, 122, 122);
  font-size: 4rem;
}
/*vlee-css-ends*/


@media screen and (max-width: 40rem) {

  .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0;
  }


  .profile::after {
      display: none;
  }


  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
      float: none;
      width: auto;
  }


  .profile-image img {
      width: 7.7rem;
  }


  .profile-user-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
  }


  .profile-user-name {
      font-size: 2.2rem;
  }


  .profile-edit-btn {
      order: 1;
      text-align: center;
      margin-top: 1rem;
  }


  .profile-edit-btn {
      margin-left: 0;
  }


  .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
  }


  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
      flex-basis: 100%;
  }


  .profile-stats {
      order: 1;
      margin-top: 1.5rem;
  }


  .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
  }


  .profile-stats li {
      font-size: 1.6rem;
      flex: 1;
      margin: 0;
  }


  .profile-stat-count {
      display: block;
  }

}
b{
  font-weight: bold;
}